<!DOCTYPE html>
<html>
  <head>
    <title>Demo1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%= link_to '登出', sign_out_path, method: :delete %>
      <%= link_to '修改密码', "#", method: :delete %>
    <% else %>
      <%= link_to '注册', sign_up_path %>
      <%= link_to '登入', sign_in_path %>
  <% end %>
    <p class="alert alert-success"><%= notice %></p>
    <p class="alert alert-success"><%= alert %></p>
      
    <%= yield %>
  </body>
</html>
